<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en" dir="ltr">
<link rel="stylesheet" href="/CSS/xstylus.css">
<link rel="stylesheet" href="/CSS/bootstrap.css">
<link rel="stylesheet" href="/CSS/bootstrap.min.css" type="text/css">
<!-- <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Fjalla+One|Josefin+Sans|Monoton|Muli|News+Cycle|Open+Sans+Condensed:300|Orbitron|Pathway+Gothic+One|Rajdhani|Roboto|Titillium+Web|Work+Sans" rel="stylesheet"> -->
  <head>
    <meta charset="utf-8">
    <title>TracFlix</title>
  </head>
  <body>
    <div class="nav-container">
      <nav class="navbar navbar-default" style="margin-bottom:0 !important;">
        <div class="container-fluid">
          <div class="navbar-header logo-bg">
            <a href="/"><img class="logo" src="images/90s.png" alt="logo"></a>
          </div>
          <ul class="nav navbar-nav">
            <li class="xactive"><a href="/">Home</a></li>
            <li><a href="/add">Add</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{#if user}}
              {{#if user.facebook.id}}
                <li role="presentation"><a>{{user.facebook.id}}</a></li>
                <li role="presentation"><a href="/unlink/facebook">unlink</a></li>
              {{else}}
                <li role="presentation"><a>{{user.local.email}}</a></li>
              {{/if}}
              <li role="presentation"><a href="/logout">Logout</a></li>
            {{else}}
            <li><a href="/signup"><span class="glyphicon glyphicon-user"> </span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"> </span> Login</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </div>
    {{{body}}}
    <script src="/JS/script.js" charset="utf-8"></script>
    <script src="/JS/main.js" charset="utf-8"></script>
  </body>
</html>
